#about {
  padding: 3rem 1rem;
  background: url('/img/bg-image-2.jpeg') no-repeat center center/cover;
  color: #fff;
  text-align: left;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .col {
    position: relative;
  }

  h1 {
    position: relative;
    padding-left: 50px;

    // 橫線
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 55px;
      height: 1px;
      width: 40px;
      background: rgba(255, 255, 255, 0.4);
    }
  }

  span {
    color: $secondary;
  }

  p {
    font-family: 'Lato', sans-serif;
    padding-bottom: 1rem;
  }

  img {
    padding-top: 1rem;
  }


  @include md {
    padding: 5rem 3rem;

    .col {
      transition: .5s;
      width: 50%;
    }
  }

  @include lg {
    padding: 10rem 12rem;

    h1 {
      font-size: 3rem;

      // 橫線
      &::before {
        top: 70px;
      }
    }

    p {
      font-size: 1rem;
    }
  }
}