#upcoming-event {
  background: $primary;
  color: #fff;
  padding: 3rem 1rem 3rem 1rem;

  .col {
    margin-bottom: 1rem;
    // height: 100%;
  }

  img {
    width: 100%;
  }

  h1 {
    padding: 0;
  }

  p {
    font-family: 'Lato', sans-serif;
  }

  button {
    margin-top: 2rem;
  }

  @include md {
    padding: 0;


    .col {
      transition: .5s;
      width: 50%;
      margin: 0;
      padding: 5rem;
      text-align: left;
    }

    #event-left {
      display: none;
    }

    #event-bg {
      display: block;
      position: relative;


    }
  }

  @include lg {

    // padding: 12rem;
    .col {
      padding: calc(10rem + 1.5vw) calc(5rem + 1.5vw);
    }

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

#event-bg {
  background: url('../../img/image-1-1010x608.jpeg')no-repeat center center/cover;
  display: none;
  clip-path: polygon(0 0, 100% 0%, 77% 100%, 0% 100%);

}

// 三角形

#event-right {
  position: relative;
  height: 100%;

  &::before {
    position: absolute;
    content: '';
    width: 50px;
    left: 0px;
    top: 0;
    height: 100%;
    background: $primary;
  }
}