#newsletter {
  padding: 3rem 1rem 2rem 1rem;

  .col {
    background: $l-gray;
    border: 1px solid #ddd;
    padding: 12% 10%;
  }

  h1 {
    font-weight: 100;
  }

  input {
    background: transparent;
    border: 1px solid #dddddd;
    border-width: 0 0 1px 0;
    display: block;
    width: 100%;
    min-height: 50px;
    // padding: 10px 0;
    font-size: 14px;
    text-align: center;
    letter-spacing: .1em;
    margin-bottom: 1rem;

    &:focus {
      outline: none;
    }
  }

  button {
    background: $black;
    color: #fff;
    width: 100%;
  }
}