#become-fan {
  padding: 1.5rem 1rem 3rem 1rem;



  img {
    width: 100%;
    height: 100%;
  }

  @include md {
    padding: 1.5rem 3rem 3rem 3rem;

    .col,
    .col-6 {
      width: 33.3333%;
    }

    .last-col {
      position: relative;
    }
  }

  @include lg {
    padding: 1.5rem 12rem 3rem 12rem;

    .col,
    .col-6 {
      width: 25%;
    }
  }
}

#fan-top {
  padding-bottom: 20px;

  h2 {
    font-weight: 300;
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
    padding: 1rem 0;
  }

  i {
    color: #b2b2b2;
    padding-bottom: 1rem;
  }

  p {
    line-height: 1.6;
    font-weight: 400;
  }

  @include md {
    text-align: left;


    h2 {
      display: inline-block;
      font-size: 35px;
      padding-left: 2rem;
    }

    p {
      padding-left: 4rem;
    }

    i {
      font-size: 2rem;
    }
  }

}

#join-now {
  padding-top: 1rem;

  a {
    margin-top: .5rem;
  }

  @include md {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}