#footer {
  color: #fff;

  .col {
    margin: 1rem 0;
    padding: 0 15px;
  }

  p {
    font-family: 'Lato', sans-serif;
    padding: .5rem 0;
  }

  h2 {
    margin: 1rem 0;
    border: solid $secondary;
    border-width: 0 3px 0 3px;
    display: inline-block;
    padding: 0 15px;
    font-weight: 600;
    line-height: 1;
  }

  a {
    color: #fff;
    text-decoration: none;

  }

  @include md {

    .col {
      width: 50%;
      padding: 1rem 3rem;
      text-align: left;
    }

    .about {
      width: 100%;
    }

    h2 {
      border-width: 0 0 0 3px;
    }

    #footer-info {
      padding: 1rem 2rem;
    }
  }

  @include lg {
    .row {
      justify-content: center;
      padding: 0 5rem;

    }

    #footer-info {
      padding: 2rem 5rem;
    }

    .col {
      width: 25%;
      padding-left: 5rem;

    }

    .about {
      width: 50%;
      padding-right: 5rem;
    }
  }
}

#footer-info {
  padding: 1rem 0 3rem 0;
  background: $primary;
}

#btn-wrap {
  button {
    font-size: 14px;
    box-shadow: 3px 9px 18px 0 rgb(0 0 0 / 18%);
    margin: 1rem .5rem 0 .5rem;

  }

  .btn-black {
    background: $black;
    border: 2px solid $black;
    color: #fff;
  }

  .btn-white {
    background: #fff;
    border: 2px solid #fff;
    color: $black;
  }

}

#contacts-wrap {
  h4 {
    margin: .5rem 0;
    color: $gray;
    font-weight: 400;
    letter-spacing: .1rem;
  }

  @include lg {
    h4 {
      margin: 0;

    }
  }
}

#menu-wrap {

  li {
    margin-top: 10px;

    a {
      font-size: 14px;
      line-height: 2;
      font-weight: 400;
      transition: .5s;

      &:hover {
        color: $secondary;
      }
    }
  }


}

// 最下面深灰宣告區
#footer-copyright {
  background: $d-gray;
  letter-spacing: 0.025rem;
  color: $gray;
  padding: 1.5rem 0;

  .col {
    margin: 0;
  }

  a {
    color: $gray;

    &:hover {
      color: #fff;
    }

    i {
      margin: 0 5px;
      transition: 0.5s;
    }
  }

  @include md {
    justify-content: space-between;
    align-items: center;

    .col {
      width: 50%;
    }

    .social-icons {
      text-align: right;
    }
  }

}