#banner {
  background: url('../../img/bg-image-1.jpeg')no-repeat center/cover;
  width: 100%;
  min-height: 46.875vw;
  padding: 50px 0;
  color: #fff;

  .line-decor {
    height: 40px;
    // border: 1px solid #f00;

    &::before {
      content: '';
      display: inline-block;
      width: 0;
      height: 40px;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      animation: lineY 2.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
  }

  p {
    margin-top: 15px;
    font-weight: 300;
    font-size: .9rem;
  }

  h1,
  h4 {
    margin-top: 10px;
  }

  a {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .05rem;
    transition: .5s;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      margin-top: 5px;
      background: #fff;
    }

    &:hover {
      letter-spacing: 0.3rem;
    }


  }
}

@keyframes lineY {
  0% {
    transform: scale(1, 0);
    transform-origin: top;
  }

  47% {
    transform: scale(1, 1);
    transform-origin: top;
  }

  48% {
    transform: scale(1, 1);
    transform-origin: bottom;
  }

  95% {
    transform: scale(1, 0);
    transform-origin: bottom;
  }

  96% {
    transform: scale(1, 0);
    transform-origin: top;
  }

  100% {
    transform: scale(1, 0);
  }
}